:root {
  --purple: #46425E;
  --teal: #15788C;
  --aqua: #00B9BE;
  --parchment: #FFEECC;
  --pink: #FFB0A3;
  --red: #FF6973;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--purple);
  color: var(--parchment);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}